replicaCount: 1

image:
  repository: currencyservice
  tag: v0.10.4
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 7000

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

